@using CloudCityCakesMVC.Models.Enums
@model CloudCityCakesMVC.Models.ViewModels.CakeOrderViewModel

<form asp-controller="admin" asp-action="update" method="POST">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input class="form-control" asp-for="Id" readonly>
    </div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input class="form-control" asp-for="UserName" readonly>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber" readonly>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" readonly>
    </div>
    <div class="form-group">
        <label asp-for="OrderDate"></label>
        <input class="form-control" asp-for="OrderDate" readonly>
    </div>
    <div class="form-group">
        <label asp-for="CompletedDate"></label>
        <input class="form-control" asp-for="CompletedDate" readonly>
    </div>

    <div class="form-group">
        <select class="form-control" asp-for="OrderStatus" asp-items="Html.GetEnumSelectList<OrderStatus>()">
        </select>
    </div>
    <hr/>
    <div class="form-group">
        <label asp-for="Cake.Size"></label>
        <input class="form-control" asp-for="Cake.Size" readonly>
    </div>
    <div class="form-group">
        <label asp-for="Cake.Price"></label>
        <input class="form-control" asp-for="Cake.Price" readonly>
    </div>
    <div class="form-group">
        <label asp-for="Cake.Flavour"></label>
        <input class="form-control" asp-for="Cake.Flavour" readonly>
    </div>
    <div class="form-group">
        <label asp-for="Cake.Frosting"></label>
        <input class="form-control" asp-for="Cake.Frosting" readonly>
    </div>
    <div class="form-group">
        <label asp-for="Cake.Topping"></label>
        <input class="form-control" asp-for="Cake.Topping" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>